name: Code Quality & Tests

on:
  push:
    branches:
      - master
  pull_request_target:
    branches:
      - master

jobs:
  check-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r api/requirements.txt
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        pylint --rcfile api/.pylintrc api/*
  check-tests:
    runs-on: ubuntu-latest
    needs: [check-lint]
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r api/requirements.txt
    - name: Set .env
      run: |
        cp .env_demo .env
    - name: Docker Composer UP
      uses: isbang/compose-action@v1.5.1
      with:
        compose-file: "./docker-compose.yml"
      env:
        PWD: "."
    - name: Run tests with python unittest
      run: |
        python -m unittest discover -s api/tests -p "*.py" -v
